/*======== RESET ========*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $font;
    background-color: #F8F9FF;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}